<ul class="list-group mb-5" *ngIf="loaded && logs.length > 0">
    <li *ngFor="let item of logs" class="list-group-item d-flex justify-content-between align-items-center"
        [class.list-group-item-secondary]="selectedLog === item">
        <a (click)="onSelect(item)" href="#">{{item.text}}</a>
        <span class="log-date">{{item.date | date: 'short'}}</span>
        <i class="fa fa-remove" (click)="onDelete(item)"></i>
    </li>
</ul>

<!-- <ng-template #noLogs>
    <h4 class="text-center">Add a log !!!</h4>
</ng-template> -->

<div *ngIf="loaded && logs.length === 0">
    <h4 class="text-center">Add a log !!!</h4>
</div>

<div *ngIf="!loaded">
    <h4 class="text-center">Loading...</h4>
</div>